.contenedor{
    width: 100%;
    height: 1200px;
    background-color: aqua;
}
.encabezado{
    width: 100%;
    height: 150px;
    background-color: aquamarine;
    text-align: center;
    font-size: 35px;
}
.menu{
    width: 100%;
    height: 50px;
    background-color: chartreuse;
    display: flex;
}
.contenedor2{
    width: 100%;
    height: 1000px;
    background-color: cornflowerblue;
    display: flex;
}
.izquierda{
    width: 20%;
    height: 1000px;
    background-color: blue;
    color: black;
    text-align: center;
    font-size: 30px;
}
.centro{
    width: 60%;
    height: 1000px;
    background-color: darkcyan;
}
.dercha{
    width: 20%;
    height: 1000px;
    background-color: darkgoldenrod;
}
.sociales{
height: 48px;
width: 100px;
background-color: brown;
margin: 2px;
}
.matematicas{
    height: 48px;
    width: 100px;
    background-color: brown;
margin: 2px;
}
.biologia{

    height: 48px;
width: 100px;
background-color: brown;
margin: 2px;
}